<ion-header>
  <ion-toolbar>
    <ion-title>Pansage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card color="success">
    <img src="assets/Pansage.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#010</ion-card-subtitle>
      <ion-card-title>Pansage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pansage es un Pokémon de tipo planta introducido en la quinta generación. Forma parte del Trío de monos, junto con Pansear y Panpour.
      Su nombre puede provenir de pan (el género de los chimpancés) y sage, término inglés que puede traducirse tanto por "sabio" (en referencia a los "Tres Monos Sabios") como por "salvia" (un tipo de planta medicinal)

    </ion-card-content>
    <ion-badge>
      <ion-icon name="bug"></ion-icon>
      Planta <br>
      Habilidad: Gula / Espesura<br>
      Peso: 10,5 kg <br>
      Altura: 0,6 m <br>
      <ion-button href="/hoenn">Region: Hoenn</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>
