<ion-header>
  <ion-toolbar>
    <ion-title>pikachu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card color="warning">
    <img src="assets/jolteon.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#002</ion-card-subtitle>
      <ion-card-title>Jolteon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jolteon es un Pokémon de tipo eléctrico introducido en la primera generación. Es una de las ocho evoluciones posibles de Eevee.
      Jolteon está inspirado en un zorro. 
      Su pelaje le permite captar y almacenar gran cantidad de electricidad estática del ambiente, con lo que se eriza y endurece formando púas, que puede usar para concentrar y dirigir sus ataques eléctricos contra el rival.
    </ion-card-content>
    <ion-badge>
      <ion-icon name="flash"></ion-icon>
      Electrico <br>
      Habilidad: absorbe electricidad <br>
      Peso: 24,5 kg <br>
      Altura: 0,8 m <br>
      <ion-button href="/kanto">Region: Kanto</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>