<ion-header>
  <ion-toolbar>
    <ion-title>Treecko</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card color="success">
    <img src="assets/Treecko.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#009</ion-card-subtitle>
      <ion-card-title>Treecko</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Treecko es un Pokémon de tipo planta introducido en la tercera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región de Hoenn de manos del profesor Abedul, junto a Torchic y Mudkip.
      Treecko está basado en un geco cola de hoja. Tiene unos ganchos pequeños en las plantas de los pies con los que puede escalar superficies verticales, se dice que incluso pueden caminar sobre vidrio. Es carismático, tranquilo y con gran capacidad de autocontrol.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="bug"></ion-icon>
      Planta <br>
      Habilidad: Espesura / Liviano<br>
      Peso: 5,0 kg <br>
      Altura: 0,5 m <br>
      <ion-button href="/alola">Region: Alola</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>
