<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <div class="ion-padding">

    <h1 id="Telec">Tipo Electrico</h1>

    <!--  1.- pokemon PIKACHU  -->
    <ion-card color="warning">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#001</ion-card-subtitle>
            <ion-card-title>Pikachu</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flash"></ion-icon>
                Electrico
              </ion-badge> 
              <ion-button color="warning" id="bmas" href="/pikachu">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c325.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  2.- pokemon Jolteon  -->
    <ion-card color="warning">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#002</ion-card-subtitle>
            <ion-card-title>Jolteon</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flash"></ion-icon>
                Electrico
              </ion-badge>
              <ion-button color="warning" id="bmas" href="/jolteon">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/jolteon.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  3.- pokemon ELEKID  -->
    <ion-card color="warning">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Elekid</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flash"></ion-icon>
                Electrico
              </ion-badge>
              <ion-button color="warning" id="bmas" href="/elekid">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/elekid.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <h1 id="Tagua">Tipo Agua</h1>

    <!--  4.- Pokemon Squirtle  -->
    <ion-card color="primary">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#004</ion-card-subtitle>
            <ion-card-title>Squartle</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="water"></ion-icon>
                Agua
              </ion-badge>
              <ion-button color="primary" id="bmas" href="/squirtle">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Squirtle.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  5.- Pokemon Golduck  -->
    <ion-card color="primary">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#005</ion-card-subtitle>
            <ion-card-title>Golduck</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="water"></ion-icon>
                Agua
              </ion-badge>
              <ion-button color="primary" id="bmas" href="/golduck">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Golduck.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  6.- Pokemon Vaporeon  -->
    <ion-card color="primary">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#006</ion-card-subtitle>
            <ion-card-title>Vaporeon</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="water"></ion-icon>
                Agua
              </ion-badge>
              <ion-button color="primary" id="bmas" href="/vaporeon">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Vaporeon.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <h1 id="Tplanta">Tipo Planta</h1>

    <!--  7.- Pokemon Chikorita  -->
    <ion-card color="success">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#007</ion-card-subtitle>
            <ion-card-title>Chikorita</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
              <ion-button color="success" id="bmas" href="/chikorita">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/chikorita.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  8.- Pokemon Snivy  -->
    <ion-card color="success">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#008</ion-card-subtitle>
            <ion-card-title>Snivy</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
              <ion-button color="success" id="bmas" href="/snivy">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Snivy.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <!--  9.- Pokemon Treecko  -->
    <ion-card color="success">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#009</ion-card-subtitle>
            <ion-card-title>Treecko</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
              <ion-button color="success" id="bmas" href="/treecko">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Treecko.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--  10.- Pokemon Pansage  -->
    <ion-card color="success">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#010</ion-card-subtitle>
            <ion-card-title>Treecko</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
              <ion-button color="success" id="bmas" href="/pansage">
                info
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/Pansage.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-button href="/regiones" id="regionbtn">Conoce regiones</ion-button>


  </div>

   
</ion-content>
