<ion-header>
  <ion-toolbar>
    <ion-title>Islas Sete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/regiones"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="light">
    <img src="https://cdn.pixabay.com/photo/2016/09/20/10/30/sea-1682198_960_720.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">Region #004</ion-card-subtitle>
      <ion-card-title>Islas Sete</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Las Islas Sete (Sevii Islands en inglés), también conocidas como Archi Siete o Archi7, son un grupo de islas localizadas al sur de la región de Kanto exclusivas de los videojuegos.
      Se accede a las Islas Sete en los juegos Pokémon Rojo Fuego y Verde Hoja después de vencer a Blaine y, únicamente a la Isla Origen y a la Roca Ombligo en Pokémon Esmeralda. El propósito de las Islas Sete es completar la aventura encargada por Bill para lograr establecer la conexión del PC del personaje entre Hoenn y Kanto, pero además, en estas islas se pueden capturar una gran cantidad de Pokémon de la segunda generación, los cuales no están disponibles en las ediciones Rubí y Zafiro. La línea de ferry que se encarga de realizar los viajes a las Islas Sete es Surcamar Veloce.
      El nombre Sete puede inducir a pensar que son siete islas, pero de hecho son nueve, por lo tanto esta es una interpretación incorrecta. Sin embargo, dos de ellas están ocultas y son solo accesibles a través de eventos, ya que son el hogar de Pokémon legendarios.
    </ion-card-content>

      <ion-button href="/regiones">Regiones</ion-button>

  </ion-card>

</ion-content>