<ion-header>
  <ion-toolbar>
    <ion-title>Alola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/regiones"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="light">
    <img src="assets/alola.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">Region #003</ion-card-subtitle>
      <ion-card-title>Alola</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La región de Alola está basada principalmente en Hawái, y está conformada por cuatro islas naturales y una artificial. Introducida para la séptima generación. En esta región transcurren los videojuegos Pokémon Sol, Pokémon Luna, Pokémon Ultrasol y Pokémon Ultraluna.
      Los Pokémon iniciales son: Rowlet, Litten y Popplio. El profesor es Kukui.
      Clemont/Lem, Bonnie/Clem y Serena abandonan el grupo y se unen Lillie/Lylia, y los capitanes de las distintas pruebas de las islas de Alola.
      Alola es una región organizada en cuatro islas principales, bastante alejadas de las otras regiones conocidas. Estas islas poseen exuberante vegetación tropical y playas.
    </ion-card-content>

      <ion-button href="/regiones">Regiones</ion-button>

  </ion-card>

</ion-content>