<ion-header>
  <ion-toolbar>
    <ion-title>pikachu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="warning">
    <img src="assets/elekid.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#003</ion-card-subtitle>
      <ion-card-title>Elekid</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Elekid es un Pokémon bebé de tipo eléctrico introducido en la segunda generación. Es la preevolución de Electabuzz. También es un Pokémon adelantado y la contraparte de Magby y Smoochum.
      Es un Pokémon bebé, pero es muy fuerte, muy resistente y nada tierno. Este Pokémon vive en bosques, selvas, y más frecuentemente en centrales eléctricas. 
    </ion-card-content>
    <ion-badge>
      <ion-icon name="flash"></ion-icon>
      Electrico <br>
      Habilidad: Electricidad estatica / Espiritud Vital <br>
      Peso: 23,3 kg <br>
      Altura: 0,6 m <br>
      <ion-button>Region: hoenn</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>