<ion-header>
  <ion-toolbar>
    <ion-title>Vaporeon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="primary">
    <img src="assets/Vaporeon.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#006</ion-card-subtitle>
      <ion-card-title>Vaporeon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Vaporeon es un Pokémon de tipo agua introducido en la primera generación. Es una de las ocho evoluciones posibles de Eevee.Su nombre viene de vapor, referencia a su habilidad de crear una especie de niebla en la cual se esconde, y el sufijo eon, que se aplica a toda la familia evolutiva de Eevee. En japonés, su nombre viene del inglés shower (ducha), haciendo alusión a sus poderes acuáticos.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="water"></ion-icon>
      Agua <br>
      Habilidad: Absorbe Agua / Hidratacion <br>
      Peso: 29,0 kg <br>
      Altura: 1,0 m <br>
      <ion-butto href="/islas">Region: Islas sete</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>