<ion-header>
  <ion-toolbar>
    <ion-title>Snivy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="success">
    <img src="assets/Snivy.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#008</ion-card-subtitle>
      <ion-card-title>Snivy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Snivy es un Pokémon de tipo planta introducido en la quinta generación. Es uno de los tres Pokémon iniciales de la región Teselia, junto a Tepig y Oshawott.
      Snivy está basado en una serpiente, aunque por su aspecto y pérdida de las extremidades conforme evoluciona se puede deducir que está basado en algún tipo de escíncido o serpientes Uromacer Oxyrhynchus. Su cuerpo es predominantemente de color verde.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="bug"></ion-icon>
      Planta <br>
      Habilidad: Espesura / Respondon<br>
      Peso: 8,1 kg <br>
      Altura: 0,6 m <br>
      <ion-button href="/alola">Region: Alola</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>