<ion-header>
  <ion-toolbar>
    <ion-title>Chikorita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card color="success">
    <img src="assets/chikorita.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#007</ion-card-subtitle>
      <ion-card-title>Chikorita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Chikorita es un Pokémon de tipo planta introducido en la segunda generación. Es uno de los tres Pokémon iniciales que se pueden elegir al comenzar la aventura en la región Johto, junto a Cyndaquil y Totodile.
      Este dócil Pokémon hoja, de color verde claro, se alimenta con rayos solares mediante la fotosíntesis que ocurre cuando éstos impactan en su cuerpo o en su hoja.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="bug"></ion-icon>
      Planta <br>
      Habilidad: Espesura / Defensa Hoja<br>
      Peso: 6,4 kg <br>
      Altura: 0,9 m <br>
      <ion-button href="/alola">Region: Alola</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>