<ion-header>
  <ion-toolbar>
    <ion-title>Hoenn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/regiones"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="light">
    <img src="assets/hoenn.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">Region #002</ion-card-subtitle>
      <ion-card-title>Hoenn</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esta región transcurren los videojuegos Pokémon Rubí, Zafiro, Esmeralda, Rubí Omega y Zafiro Alfa.
      Los Pokémon iniciales son: Treecko, Torchic y Mudkip. El profesor es Abedul. Las ciudades más significativas de Hoenn son Ciudad Portual, Ciudad Calagua y Ciudad Malvalona, siendo esta última la más grande (solo en Pokémon Rubí Omega y Pokémon Zafiro Alfa, en las versiones originales Ciudad Calagua era la ciudad más grande).
      La sexta, séptima y parte de la octava temporada del anime transcurren en esta región. En esta región Misty abandona el grupo y se unen May/Aura y Max.
    </ion-card-content>

      <ion-button href="/regiones">Regiones</ion-button>

  </ion-card>

</ion-content>