<ion-header>
  <ion-toolbar>
    <ion-title>Kanto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/regiones"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="light">
    <img src="assets/kanto.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">Region #001</ion-card-subtitle>
      <ion-card-title>Kanto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esta región transcurren los videojuegos Pokémon Verde, Rojo, Azul, Amarillo, Oro, Plata, Cristal, Rojo Fuego, Verde Hoja, Oro HeartGold y Plata SoulSilver y Pokémon: Let's Go, Pikachu! y Pokémon: Let's Go, Eevee!.
      Los Pokémon iniciales son: Bulbasaur, Charmander y Squirtle. En Pokémon Amarillo tu inicial es Pikachu y el del rival es Eevee. El profesor es Oak y su ciudad principal es Ciudad Azafrán.
      La primera, el tramo final de la octava, la novena y el tramo final de la decimosexta temporada del anime transcurre en esta región. Los protagonistas de esta Región en el anime son Ash Ketchum, Misty y Brock.
    </ion-card-content>

      <ion-button href="/regiones">Regiones</ion-button>

  </ion-card>

</ion-content>