<ion-header>
  <ion-toolbar>
    <ion-title>Golduck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="primary">
    <img src="assets/Golduck.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#005</ion-card-subtitle>
      <ion-card-title>Golduck</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Golduck es un Pokémon de tipo agua introducido en la primera generación. Es la forma evolucionada de Psyduck.
    Su nombre proviene de las palabras gold, que significa oro, ya que en Japón el oro es considerado como un metal que atrae la suerte y aumenta las capacidades psíquicas, y duck, que significa pato.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="water"></ion-icon>
      Agua <br>
      Habilidad: Aclimatacion / Nado Rapido <br>
      Peso: 76,6 kg <br>
      Altura: 1,7 m <br>
      <ion-button href="/islas">Region: Islas sete</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>