<ion-header>
  <ion-toolbar>
    <ion-title>Squirtle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-button href="/folder/pokemons"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card color="primary">
    <img src="assets/Squirtle.png" />
    
    <ion-card-header>
      <ion-card-subtitle class="no">#004</ion-card-subtitle>
      <ion-card-title>Squirtle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Squirtle es un Pokémon de tipo agua introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Bulbasaur y Charmander, excepto en Pokémon Amarillo.

    </ion-card-content>
    <ion-badge>
      <ion-icon name="water"></ion-icon>
      Agua <br>
      Habilidad: Torrente / Cura lluvia <br>
      Peso: 9,0 kg <br>
      Altura: 0,5 m <br>
      <ion-button href="/kanto">Region: Kanto</ion-button>
    </ion-badge> 

  </ion-card>

</ion-content>